@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
body{
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    z-index: 1;
}

/*Selector css que para que cambie el cursor a una mano cuando haya un enlace cuya atributo href no esté difido y el cursos esté sobre el enlace (se usa en e login) */ 
.link{
    text-decoration: none;
    color: #132232;
}

.link:hover{
    text-decoration: underline;
}

nav{
    background-color: #132232;
    color: white;
}

.navbar-brand,.nav-link,.dropdown-menu, .nav-item{
    color: white;
    background-color: #132232;
}

.navbar-brand:hover,.nav-link:hover, .navbar-brand:active,.nav-link:active,.navbar-brand:focus,.nav-link:focus{
    color: #ffffff;
}

/*Clase que controla que el elemento seleccionado de la navbar mantenga su border-bottom */
.isFocused{
    border-bottom: 0.23rem solid rgb(252, 224, 179);
    color: whitesmoke; 
}

/* Color del borde de los input */
.form-control,.form-select{
    border: 0.6px solid #132232;
    color: #132232;
    font-size: 0.70em;
}

.form-control:focus, .form-select:focus{
    border: 2px solid #132232;
}

/* Opacidad de los placeholder */
input[type="text"]::placeholder {
    color: #132232;
    opacity:0.7;
}

/* Tamaño de la letra cuando se muestra la info en el cardJugador. */
.datoJugador{
    font-size: 0.89em;
}

.labelCardJugador{
    font-size: 0.85em;
}

.labelCardEquipo{
    font-size: 0.89em;
}

.btn1, .btnAceptarEvento, .btnEliminarEvento{
    border-color: transparent;
    border-radius: 6px;
    color: rgb(252, 224, 179);
    background-color: #132232;
}

.btn1:hover{
    text-decoration: underline;
}

.btn1:active{
    background-color: rgb(252, 224, 179);
    color: #132232;
    border: 1.7px solid #132232;
    text-decoration: none;
}

.btnAceptarEvento:hover{
    color: green;
}

.btnEliminarEvento:hover{
    color: red;
}

#btnCerrarSesion{
    background-color: transparent;
    border: none;
    color: white;
}

/* Botones del componente Panel de control */
.btnShowFrm{
    border: 2px solid#132232;
    color: white;
    background-color: #132232;
}

.btnShowFrm:hover{
    text-decoration: underline;
}

.btnShowFrm:focus{
    background-color: white;
    color: #132232;
    border-color: #132232;
    text-decoration: none;
}

.btnShowFormFocus{
    border: 2px solidwhite;
    color: #132232;
    background-color: white;
}

/* Titulo de la posición de los jugadores en Ver Jugadores */
#tituloPosicion{
    color: #132232;
    border-bottom: 10px solid #fce0b3;
}

/* Título que se muestra cuando se añade algún evento en el componente RegistrarPartido.btn1 */
#encabezadoEventos{
    background-color: #132232;
    color: rgb(252, 224, 179);
}

/* Se muestran cuando se guarda un evento en el componente Registrarpartido, son el jugador y el evento. */
#infoEvento{
    background-color: #132232;
    color: #f5f5f5;
    border: 1.7px solid #132232;
}

.cardJugador{
    border: 2.5px solid #132232;
    max-height: 100%;
}

.cardJugador img{
    width: 100%;
    height: 250px;
}

.cardEquipo{
    border: 2.5px solid #132232;
    max-height: 100%;
}

.cardEquipo img{
    width: 100%;
    height: 250px;
    max-height: 100%;
}

.datoEquipo{
    background-color: #132232;
    color: white;
}

/* Modal */
#modalTitle{
    background-color: #132232;
    color: white;
}

/* Footer */
#footer{
    color: white;
    background-color: #132232;
}

#footer a{
    text-decoration: underline;
    color: white;
}

#footer a:hover{
    text-decoration: underline;
    color: rgb(141, 212, 247);
}

#footer i{
    color: rgb(252, 224, 179);
}
/* Tamaño de las imágenes que aparecen en la pantalla de inicio. */
@media (max-width: 321px) {
    .imagenInicio {
      width: 94%;
      height: 180px;
    }
    .imagenInicial {
        width: 100%;
        height: 180px;
    }
  }

  @media (min-width: 321px) and (max-width: 575px) {
    .imagenInicio {
      width: 95%;
      height: 250px;
    }
    .imagenInicial {
        width: 100%;
        height: 250px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 766px) {
    .imagenInicio {
      width: 100%;
      height: 300px;
    }
    .imagenInicial {
        width: 100%;
        height: 350px;
    }
  }

  @media (min-width: 766px) and (max-width: 992px) {
    .imagenInicio {
      width: 100%;
      height: 200px;
    }
    .imagenInicial {
        width: 100%;
        height: 350px;
    }
  }
    
  @media (min-width: 993px) and (max-width: 1200px) {
    .imagenInicio {
      width: 100%;
      height: 250px;
    }
  }
  
  @media (min-width: 1201px){
    .imagenInicio {
      width: 100%;
      height: 300px;
    }
    .imagenInicial {
        width: 100%;
        height: 500px;
    }
  }