@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
body{
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    z-index: 1;
}

/*Selector css que para que cambie el cursor a una mano cuando haya un enlace cuya atributo href no esté difido y el cursos esté sobre el enlace (se usa en e login) */ 
.link{
    text-decoration: none;
    color: #182E3E;
}

.link:hover{
    text-decoration: underline;
}

nav{
    background-color: #182E3E;
    color: white;
}

.navbar-brand,.nav-link,.dropdown-menu, .nav-item{
    color: white;
    background-color: #182E3E;
}

.navbar-brand:hover,.nav-link:hover, .navbar-brand:active,.nav-link:active,.navbar-brand:focus,.nav-link:focus{
    color: white;
}

/*Clase que controla que el elemento seleccionado de la navbar mantenga su border-bottom */
.isFocused{
    border-bottom: 0.23rem solid rgb(252, 224, 179);
    color: whitesmoke; 
}

/* Color del borde de los input */
.form-control,.form-select{
    border: 0.6px solid #182E3E;
    color: #182E3E;
    font-size: 0.70em;
}

.form-control:focus, .form-select:focus{
    border: 2px solid #182E3E;
}

/* Opacidad de los placeholder */
input[type="text"]::placeholder {
    color: #182E3E;
    opacity:0.7;
}

/* Tamaño de la letra cuando se muestra la info en el cardJugador. */
.datoJugador{
    font-size: 0.89em;
}

.labelCardJugador{
    font-size: 0.85em;
}

.labelCardEquipo{
    font-size: 0.89em;
}

.btn1, .btnAceptarEvento, .btnEliminarEvento{
    border-color: transparent;
    border-radius: 6px;
    color: rgb(252, 224, 179);
    background-color: #182E3E;
}

.btn1:hover{
    text-decoration: underline;
}

.btn1:active{
    background-color: rgb(252, 224, 179);
    color: #182E3E;
    border: 1.7px solid #182E3E;
    text-decoration: none;
}

.btnAceptarEvento:hover{
    color: green;
}

.btnEliminarEvento:hover{
    color: red;
}

#btnCerrarSesion{
    background-color: transparent;
    border: none;
    color: white;
}

/* Botones del componente Panel de control */
.btnShowFrm{
    border: 2px solid#182E3E;
    color: white;
    background-color: #182E3E;
}

.btnShowFrm:hover{
    text-decoration: underline;
}

.btnShowFrm:focus{
    background-color: white;
    color: #182E3E;
    border-color: #182E3E;
    text-decoration: none;
}

.btnShowFormFocus{
    border: 2px solidwhite;
    color: #182E3E;
    background-color: white;
}

/* Titulo de la posición de los jugadores en Ver Jugadores */
#tituloPosicion{
    color: #182E3E;
    border-bottom: 10px solid rgb(252, 224, 179);
}

/* Título que se muestra cuando se añade algún evento en el componente RegistrarPartido.btn1 */
#encabezadoEventos{
    background-color: #182E3E;
    color: rgb(252, 224, 179);
    /* border: 1.7px solid #182E3E; */
}

/* Se muestran cuando se guarda un evento en el componente Registrarpartido, son el jugador y el evento. */
#infoEvento{
    background-color: #182E3E;
    color: whitesmoke;
    border: 1.7px solid #182E3E;
}

.cardJugador{
    border: 2.5px solid #182E3E;
    max-height: 100%;
}

.cardJugador img{
    width: 100%;
    height: 250px;
}

.cardEquipo{
    border: 2.5px solid #182E3E;
    max-height: 100%;
}

.cardEquipo img{
    width: 100%;
    height: 250px;
    max-height: 100%;
}

.datoEquipo{
    background-color: #182E3E;
    color: white;
}

/* Modal */
#modalTitle{
    background-color: #182E3E;
    color: white;
}

/* Footer */
#footer{
    color: white;
    background-color: #182E3E;
}

#footer a{
    text-decoration: underline;
    color: white;
}

#footer a:hover{
    text-decoration: underline;
    color: rgb(141, 212, 247);
}

#footer i{
    color: rgb(252, 224, 179);
}
